{% load static %}
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a href="{% url 'index' %}" class="navbar-brand logo">
                <img src="{% static 'client-assets/img/logo.png' %}" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="index-2.html" class="menu-logo">
                    <img src="{% static 'client-assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="has-submenu">
                    <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'doctor-dashboard' %}">Doctor Dashboard</a></li>
                        <li><a href="{% url 'login' %}">Doctor Login</a></li>
                        <li><a href="{% url 'doctor-register' %}">Doctor Register</a></li>
                    </ul>
                </li>	
                <li class="has-submenu">
                    <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'patient-dashboard' %}">Patient Dashboard</a></li>
                        <li><a href="{% url 'login' %}">Patient Login</a></li>
                        <li><a href="{% url 'register' %}">Patient Register</a></li>
                    </ul>
                </li>	
                <li>
                    <a href="{% url 'search' %}">
                        <i class="fas fa-search"></i>
                        <span>Search Doctor</span>
                    </a>
                </li>
                <li class="login-link">
                    <a href="{% url 'login' %}">Login / Signup</a>
                </li>
            </ul>		 
        </div>		 
        <ul class="nav header-navbar-rht">

            {% if user.is_authenticated and user.last_name == 'Patient' %}
            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="{{ user.patient.profile_pic.url }}" width="31" alt="Ryan Taylor">
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="{{ user.patient.profile_pic.url }}" alt="User Image" class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>{{user.first_name}}</h6>
                            <p class="text-muted mb-0">{{user.last_name}}</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="{% url 'patient-dashboard' %}">Dashboard</a>
                    <a class="dropdown-item" href="{% url 'profile-settings' %}">Profile Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            <!-- /User Menu -->

            {% elif user.is_authenticated and user.last_name == 'Doctor' %}
            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="{{ user.doctor.profile_pic.url }}" width="31" alt="{{user.first_name}}">
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="{{ user.doctor.profile_pic.url }}" alt="User Image" class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>{{user.first_name}}</h6>
                            <p class="text-muted mb-0">{{user.last_name}}</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="{% url 'doctor-dashboard' %}">Dashboard</a>
                    <a class="dropdown-item" href="{% url 'doctor-profile-settings' %}">Profile Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            <!-- /User Menu -->

            {% else %}
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'login' %}">LOGIN / SIGNUP </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>