{% load static %}
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img src="{% static 'client-assets/img/patients/default.png' %}" alt="User Image">
                </a>
                <div class="profile-det-info">
                    {% if user.is_authenticated and user.first_name == '' %}
                    <h3>{{user.username}}</h3>

                    <div class="patient-details">
                        <h5><i class="fas fa-birthday-cake"></i> {{user.patient.dob}}</h5>
                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{user.patient.city}}, {{user.patient.country}}</h5>
                    </div>

                    {% elif user.is_authenticated %}
                    <h3>{{user.first_name}}</h3>

                    <div class="patient-details">
                        <h5><i class="fas fa-birthday-cake"></i> {{user.patient.dob}}</h5>
                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{user.patient.city}}, {{user.patient.country}}</h5>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li>
                        <a href="{% url 'patient-dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="favourites.html">
                            <i class="fas fa-bookmark"></i>
                            <span>Favourites</span>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <i class="fas fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">23</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'profile-settings'%}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="change-password.html">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>