<!-- FOR MONDAY -->
<div class="row form-row">
    <div class="col-12 col-md-12">
            <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1_monday" value="1" name="time"> 
                <label class="custom-control-label" for="customCheck1_monday">10:00 am - 10:30 am</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck2_monday" value="2" name="time">
                <label class="custom-control-label" for="customCheck2_monday">10:30 am - 11:00 am</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck3_monday" value="3" name="time">
                <label class="custom-control-label" for="customCheck3_monday">11:00 am - 11:30 am</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck4_monday" value="4" name="time">
                <label class="custom-control-label" for="customCheck4_monday">11:30 am - 12:00 am</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck5_monday" value="5" name="time">
                <label class="custom-control-label" for="customCheck5_monday">1:00 pm - 1:30 pm</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck6_monday" value="6" name="time">
                <label class="custom-control-label" for="customCheck6_monday">1:30 pm - 2:00 pm</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck7_monday" value="7" name="time">
                <label class="custom-control-label" for="customCheck7_monday">2:00 pm - 2:30 pm</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck8_monday" value="8" name="time">
                <label class="custom-control-label" for="customCheck8_monday">2:30 pm - 3:00 pm</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck9_monday" value="9" name="time">
                <label class="custom-control-label" for="customCheck9_monday">3:00 pm - 3:30 pm</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck10_monday" value="10" name="time">
                <label class="custom-control-label" for="customCheck10_monday">3:30 pm - 4:00 pm</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck11_monday" value="11" name="time">
                <label class="custom-control-label" for="customCheck11_monday">4:00 pm - 4:30 pm</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck12_monday" value="12" name="time">
                <label class="custom-control-label" for="customCheck12_monday">4:30 pm - 5:00 pm</label>
            </div>
        
        {% for i in schedule %}
            {% if i.day == 'monday' %}
                <script>
                    // Add the 'checked' attribute to the corresponding checkbox
                    document.getElementById('customCheck{{ i.timing.id }}_monday').checked = true;
                </script>
            {% endif %}
        {% endfor %}
    </div>
</div>

